.topbar-wrapper .link svg {
  visibility: hidden;
  display: none;
}

.topbar-wrapper .link::after {
  content: "Valid Panel";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
